.main-chat
  .main-chat__group-info
    .main-chat__group-info__info-leftspace
      .main-chat__group-info__info-leftspace__info-text
        = @group.name
      .main-chat__group-info__info-leftspace__info-member
        Member:
        - @group.users.each do |user|
          = user.name
          
    = link_to edit_group_path(@group), class: "main-chat__group-info__info-rightspace" do
      Edit
  .main-chat__message-list
    = render @messages
  .main-chat__message-form
    = form_with model: [@group, @message], html: {class: "main-chat__message-form__form-contents"}, local: true do |f|
      .main-chat__message-form__form-contents__input-box
        = f.text_field :content, class: 'main-chat__message-form__form-contents__input-box__input-text', placeholder: 'type a message'
        = f.label :image, class: 'main-chat__message-form__form-contents__input-box__input-image' do
          = icon('far', 'image', class: 'main-chat__message-form__form-contents__input-box__input-image__input-icon')
          = f.file_field :image, class: 'main-chat__message-form__form-contents__input-box__input-image__input-file'
      = f.submit 'Send', class: 'main-chat__message-form__form-contents__form-send'