.side-bar
  .side-bar__user-name
    .side-bar__user-name__name-box
      .side-bar__user-name__name-box__name-space 
        = current_user.name
      .side-bar__user-name__name-box__icon-space
        .side-bar__user-name__name-box__icon-space__btn
          = link_to new_group_path(current_user), class: "side-bar__user-name__name-box__icon-space__btn__regular" do
            = icon('far', 'edit')
          = link_to edit_user_path(current_user), class: "side-bar__user-name__name-box__icon-space__btn__solid" do
            = icon('fas', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__group-box
        = link_to '#' do
          .side-bar__group-list__group-box__group-name
            = group.name
          .side-bar__group-list__group-box__group-message
            まだメッセージがありません
    